<% provide(:title, "Listar") %>
<h1>Todos los empleados</h1>
 <table>
  <tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cargo</th>
  </tr>
  <% @cvs.each do |cv| %>
    <tr>
      <td><%= cv.picture %></td>
      <td><%= cv.name %></td>
      <td><%= cv.lastname %></td>
      <td><%= cv.job %></td>
        <td><%= link_to 'Show', cv %></td>
        <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
        <td><%= button_to 'Destroy', cv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>