<h1>New CV</h1>
<%= form_for(@cv) do |f| %>
<p>
<%= f.label :picture %><br>
<%= f.text_field :picture %>
</p>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :lastname %><br>
<%= f.text_field :lastname %>
</p>
<p>
<%= f.label :job %><br>
<%= f.text_field :job %>
</p>
<p>
<%= f.label :genere %><br>
<%= f.text_field :genere %>
</p>
<%= f.submit %>
<% end %>
