<header class="header">
<h3 class="title">HSC</h3>
</header>
<ul>
   <li><%= link_to "Caracteristicas", caracteristicas_path %></li>
   <li><%= link_to "Creditos", creditos_path %></li>
   <li><%= link_to "Cv", new_cv_path %></li>
   <li><%= link_to "Cvs", cvs_path %></li> 
   <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %> 

</ul>
<style>
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #777;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.title {
	text-align: center;
	font-size: 30px;
}
</style>
